<div class="marble" id="<%= marble.id %>">
  <div class="front">
    <%= link_to marble, class: 'pic-link' do %>
      <%= image_tag marble.avatar.url(:square) %>
    <% end %>
  </div>

  <div class="back">
    <span class="marble-name"><%= marble.marble_name %></span>
    <div class="actions">
      <%= link_to 'Show', marble %>
      <%= link_to 'Edit', edit_marble_path(marble) %>
      <%= link_to 'Delete', marble, confirm: 'Are you sure you want to delete a marble?', method: :delete, class: 'destroy' %>
    </div>
  </div>
</div>